.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/

# Node
node_modules/
dist/
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de ejemplo
!backend/.env.example
!frontend/.env.example

# Archivos locales
backend/storage/